## Answer 1: List and its default functions

In [1]:
# List is a mutable data structure with ordered sequence of elements

lst = [10, [1,2], 'hello', 'world']
lst  # prints list

[10, [1, 2], 'hello', 'world']

In [2]:
lst.append('python')  # adds the given value to the list
lst

[10, [1, 2], 'hello', 'world', 'python']

In [3]:
lst.count(10)  # counts the number of times the given element is there in the list

1

In [4]:
lst.pop()  # pops the last element
lst

[10, [1, 2], 'hello', 'world']

In [5]:
lst.remove(10)  # removes the element
lst

[[1, 2], 'hello', 'world']

In [7]:
lst1= lst.copy()  # copies the exact same list to the other variable given
lst1

[[1, 2], 'hello', 'world']

## Answer 2: Dictionary and its default functions

In [8]:
# A dictionary is a key and value paired collection which is unordered, changeable and indexed
# dict = {key: value}

dit = {'name': 'Lavleen', 'age': 19, 'place': 'UT of DNH'}
dit  # prints dictionary

{'name': 'Lavleen', 'age': 19, 'place': 'UT of DNH'}

In [9]:
dit.get('name')  # gets the key value from dictionary

'Lavleen'

In [11]:
dit.update({'place': 'silvassa'})  # updates the details
dit

{'name': 'Lavleen', 'age': 19, 'place': 'silvassa'}

In [12]:
dit.keys()  # gives the keys defined in the dictionary

dict_keys(['name', 'age', 'place'])

In [14]:
dit.popitem()  # pops the last key and value in the dictionary
dit

{'name': 'Lavleen', 'age': 19}

In [15]:
dit.clear()  # clears the dictionary completely
dit

{}

## Answer 3: sets and its default functions

In [16]:
# set is a data structure similar to the sets in mathematics

st = {'hello', 'python', 1, 2, 3, 4}
st  # prints set

{1, 2, 3, 4, 'hello', 'python'}

In [18]:
st.add(5)  # adds element to the set
st

{1, 2, 3, 4, 5, 'hello', 'python'}

In [19]:
st1 = {1, 2, 9, 8}
st1

{1, 2, 8, 9}

In [20]:
st.union(st1)  # combines (union) the both sets

{1, 2, 3, 4, 5, 8, 9, 'hello', 'python'}

In [21]:
st.intersection(st1)  # prints common elements of the set

{1, 2}

In [22]:
st.difference(st1)  # prints sets difference

{3, 4, 5, 'hello', 'python'}

In [24]:
st.discard('hello')  # removes element
st

{1, 2, 3, 4, 5, 'python'}

## Answer 4: tuple and its default methods

In [25]:
# A tuple is a collection of ordered and immutable objects

tup = ('hello', 'python', 1, 2, 3)
tup  # prints tuple

('hello', 'python', 1, 2, 3)

In [26]:
tup.count('python')  # counts the number of times the element is there in tuple

1

In [27]:
tup.index(1)  # displays the index of the value

2

## Answer 5: Strings and its default methods

In [28]:
# in python, a string is a sequence of unicode characters

str = ' lavleen agrawal '
str  # prints string

' lavleen agrawal '

In [30]:
str = str.strip()  # removes the white spaces at beginning and end
str

'lavleen agrawal'

In [31]:
str.title()  # capitalize the first letter

'Lavleen Agrawal'

In [32]:
str.islower()  # checks whether the string is in lowercase or not

True

In [33]:
str.split()  # splits the string

['lavleen', 'agrawal']

In [34]:
str.upper()  # Capitalize the whole string

'LAVLEEN AGRAWAL'